---
http_interactions:
- request:
    method: get
    uri: http://www.puroland.jp/api/live/get_information/?category=event&count=20&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Pingback:
      - http://www.puroland.jp/xmlrpc.php
      Last-Modified:
      - Mon, 25 Jan 2016 16:26:08 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","count":20,"total":27,"page":1,"maxpage":2,"data":[{"url":"http:\/\/www.puroland.jp\/information\/little_hero_2016vd\/","title":"\u30102\/6(\u571f)\u30017(\u65e5)\u958b\u50ac!\u3011\u8ffd\u52a0\u30b2\u30b9\u30c8&#038;\u8ffd\u52a0\u5e2d\u306e\u304a\u77e5\u3089\u305b\uff01\u3061\u3063\u3061\u3083\u306a\u82f1\u96c4(\u30d2\u30fc\u30ed\u30fc)Valentaine
        Event","public_date":"2016\/01\/25","thumbnail_m":"http:\/\/www.puroland.jp\/wp-content\/uploads\/2016\/01\/3little_hero_2016vd_sp-694x520.jpg","thumbnail_s":"http:\/\/www.puroland.jp\/wp-content\/uploads\/2016\/01\/3little_hero_2016vd_sp-334x250.jpg","information_category":[{"name":"event","value":"\u30a4\u30d9\u30f3\u30c8"}],"show_new_icon":false,"target_category":[{"name":"friends","value":"\u3068\u3082\u3060\u3061"}]},{"url":"http:\/\/www.puroland.jp\/information\/daniel_danceunit20160131\/","title":"\u30101\/31(\u65e5)\u958b\u50ac\uff01\u3011\u30aa\u30ea\u30b8\u30ca\u30eb\u30b0\u30c3\u30ba\u767a\u58f2\u6c7a\u5b9a!\u3000one&#8217;s
        wishes-D 1\u5468\u5e74\u8a18\u5ff5\u30e9\u30a4\u30d6","public_date":"2015\/11\/20","thumbnail_m":"http:\/\/www.puroland.jp\/wp-content\/uploads\/2015\/11\/daniel_danceunit20160131-694x520.jpg","thumbnail_s":"http:\/\/[...]
