.page-header
  %h1 このサイトについて

%p Puroland Greetingは、サンリオピューロランドのキャラクターグリーティング情報を見やすく表示するサイトです。

%section
  %h2 利用上の注意
  %p <a href="http://www.puroland.co.jp/chara_gre/">公式サイト</a>の情報をもとに更新しているため、最新の情報が反映されるまでに若干の遅れがあります。
  %p 掲載されている内容には誤りがある可能性があります。

%section
  %h2 お問い合わせ
  %p このサイトは個人が運営する非公式なものであり、サンリオピューロランドおよび株式会社サンリオエンターテイメントとは一切関係ありません。
  %p サイトの内容に関するお問い合わせは、下記のメールアドレスへお願いします。

  %pre
    mono at monoweb.info (atを@に置き換えてください)

  %p グリーティングの内容など、サンリオピューロランドについてのご意見・ご要望は、以下のページからサンリオピューロランドにお伝えください。

  %p
    %a.btn.btn-block.btn-primary.btn-lg{href: 'http://www.puroland.jp/homeinfo/ご意見・ご要望をお待ちしております'}
      ピューロランドにメールを送る<br />(外部サイト)

