- if today_schedule
  %link{rel: 'prerender', href: today_schedule.date.strftime('/schedule/%Y/%m/%d/')}
  %p
    %a.btn.btn-block.btn-primary.btn-lg{href: today_schedule.date.strftime('/schedule/%Y/%m/%d/')}
      #{today_schedule.date.strftime('%Y/%m/%d')} の予定
- else
  .well
    #{today.strftime('%Y/%m/%d')} の予定は公開されていません。

- if temporary_schedule
  - unless today_schedule
    %link{rel: 'prerender', href: temporary_schedule.date.strftime('/schedule/%Y/%m/%d/character')}
  %p
    %a.btn.btn-block.btn-default.btn-lg{href: temporary_schedule.date.strftime('/schedule/%Y/%m/%d/character')}
      %small
        #{temporary_schedule.date.strftime('%Y/%m/%d')} の登場キャラクター

%section
  %h2 データ
  .list-group
    %a.list-group-item{href: '/schedule/'} スケジュール
    %a.list-group-item{href: '/character/'} キャラクター
    %a.list-group-item{href: '/statistics/'} 統計
