%header.page-header
  %h1 Puroland Greeting

- if today_schedule
  %div
    %a.btn.btn-block.btn-primary.btn-lg{href: today_schedule.date.strftime('/schedule/%Y/%m/%d/')}
      #{today.strftime('%Y/%m/%d')} の予定
- else
  .well
    #{today.strftime('%Y/%m/%d')} の予定は公開されていません。

%section
  %h2 過去のデータ
  .list-group
    %a.list-group-item{href: '/schedule/'} スケジュール
    %a.list-group-item{href: '/character/'} キャラクター
    %a.list-group-item{href: '/statistics/'} 統計
