.page-header
  %h1 はじめに

%p
  ようこそ！
%p
  ここでは、サンリオピューロランドでのキャラクターグリーティングの楽しみ方と、当サイトの活用方法についてご紹介します♪

%section
  %h2 グリーティングって？
  %p
    (キャラクター) グリーティングとは、キャラクターと触れ合ったりいっしょに写真撮影したりできるイベントのことです。
  %p
    キャラクターといっぱい遊べるのが、サンリオピューロランドの大きな魅力のひとつです！

  %section.row
    .col-xs-6.col-md-3
      %a.thumbnail{href: 'https://www.flickr.com/photos/mono0x/12689868515'}
        %img{alt: 'ハローキティ', data: {src: 'holder.js/100%x180'}, src: 'https://farm3.staticflickr.com/2867/12689868515_9ea31b5996_n.jpg'}
    .col-xs-6.col-md-3
      %a.thumbnail{href: 'https://www.flickr.com/photos/mono0x/11546496604'}
        %img{alt: 'マイメロディ&クロミ', data: {src: 'holder.js/100%x180'}, src: 'https://farm3.staticflickr.com/2890/11546496604_bd23ff2af4_n.jpg'}
    .col-xs-6.col-md-3
      %a.thumbnail{href: 'https://www.flickr.com/photos/mono0x/11546611953'}
        %img{alt: 'リトルツインスターズ', data: {src: 'holder.js/100%x180'}, src: 'https://farm6.staticflickr.com/5517/11546611953_75f6d20380_n.jpg'}
    .col-xs-6.col-md-3
      %a.thumbnail{href: 'https://www.flickr.com/photos/mono0x/12745752423'}
        %img{alt: 'ミミィ', data: {src: 'holder.js/100%x180'}, src: 'https://farm3.staticflickr.com/2826/12745752423_130c58ff4f_n.jpg'}

  %section.row
    .col-md-6
      .thumbnail
        .video-container
          <iframe src="//www.youtube-nocookie.com/embed/QydZheawL7Q" frameborder="0" allowfullscreen></iframe>
    .col-md-6
      .thumbnail
        .video-container
          <iframe src="//www.youtube-nocookie.com/embed/vngTkZyQ59g" frameborder="0" allowfullscreen></iframe>
    .col-md-6
      .thumbnail
        .video-container
          <iframe src="//www.youtube-nocookie.com/embed/rHmyZ570l3Y" frameborder="0" allowfullscreen></iframe>

  %p
    グリーティングは館内のあちこちで実施されていて、基本的には誰でも無料で参加できます。

  %p
    キャラクターゲーム (キャラゲー) は有料ですが、なんとキャラクターといっしょにゲームで遊べちゃいます☆

  %section.row
    .col-xs-6.col-md-3
      %a.thumbnail{href: 'https://www.flickr.com/photos/mono0x/14054367913'}
        %img{data: {src: 'holder.js/100%x180'}, src: 'https://farm8.staticflickr.com/7268/14054367913_b0ee26ff0b_n.jpg'}
    .col-xs-6.col-md-3
      %a.thumbnail{href: 'https://www.flickr.com/photos/mono0x/11534035055'}
        %img{data: {src: 'holder.js/100%x180'}, src: 'https://farm8.staticflickr.com/7419/11534035055_c55ea3c213_n.jpg'}

  %section.row
    .col-md-6
      .thumbnail
        .video-container
          <iframe src="//www.youtube-nocookie.com/embed/vEgnALeeeio" frameborder="0" allowfullscreen></iframe>
    .col-md-6
      .thumbnail
        .video-container
          <iframe src="//www.youtube-nocookie.com/embed/VEih_EdKBUM" frameborder="0" allowfullscreen></iframe>

  %p
    ゲームの後は記念撮影もできて、しかも景品までもらえちゃうので、かなりお得なイベントだと思いますよ♪

  %h2 参加方法は？
  %p
    グリーティングが実施されている時間に、その場所に行けばOK！
  %p
    当サイトを使えば、グリーティングがいつどこで行われるのか一目で確認できます☆
  %p
    情報は当日の朝に公開されますから、グリーティングの予定を見ながら1日の予定を立てるのがオススメですよ♪

  %p
    %a.btn.btn-block.btn-primary.btn-lg{href: '/'}
      予定をチェックする

  %p
    リンク先のトップページをブックマークに登録しておくと便利です。
