!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %title= [ @title, 'Puroland Greeting: サンリオピューロランドのキャラクターグリーティング情報' ].flatten.compact.join(' - ')
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    - if @description
      %meta{name: 'twitter:card', content: 'summary'}
      %meta{name: 'twitter:site', content: '@puro_greeting'}
      %meta{name: 'twitter:title', content: @title || 'Puroland Greeting'}
      %meta{name: 'twitter:description', content: @description}
    %link{rel: 'stylesheet', type: 'text/css', href: '/application.css'}
    %link{rel: 'shortcut icon', type: 'image/png', href: '/favicon.png'}
    - if @canonical
      %link{rel: 'canonical', href: @canonical}
    %script{type: 'text/javascript', src: '/application.js', defer: 'defer'}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5224843-19', 'sucretown.net');
      ga('send', 'pageview');
  %body
    .navbar.navbar-default.navbar-static-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '.navbar-ex1-collapse' }}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/'} Puroland Greeting
        .collapse.navbar-collapse.navbar-ex1-collapse.navbar-right
          %ul.nav.navbar-nav
            %li
              %a{href: '/schedule/today'} Today</b>
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: { toggle: 'dropdown' }} データ <b class="caret"></b>
              %ul.dropdown-menu
                %li
                  %a{href: '/schedule/'} スケジュール
                %li
                  %a{href: '/character/'} キャラクター
                %li
                  %a{href: '/statistics/'} 統計
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: { toggle: 'dropdown' }} リンク <b class="caret"></b>
              %ul.dropdown-menu
                %li
                  %a{href: 'http://www.puroland.jp/'} サンリオピューロランド
                %li
                  %a{href: 'http://www.puroland.co.jp/chara_gre/'} キャラクターグリーティング情報
    .container
      != yield
