%header
  %h1.page-header 統計

%section
  %h2 グリーティング数

  %table.table.table-striped.table-bordered.table-condensed
    %caption 月別
    %thead
      %tr
        %th 年月
        %th 回数
    %tbody
      - count_by_month.each do |item|
        %tr
          %td= sprintf('%04d/%02d', item.year, item.month)
          %td.table-cell-number= currency item.appearances

  %table.table.table-striped.table-bordered.table-condensed
    %caption キャラクター別
    %thead
      %tr
        %th キャラクター
        %th 回数
    %tbody
      - ranking.each do |item|
        %tr
          %td
            %a{href: "/character/#{item.name}/"}= item.name
          %td.table-cell-number= currency item.score
