- greetings.order('end_at, start_at').group_by {|g| [ g.start_at, g.end_at ] }.each do |t, greetings|
  .row
    - greetings.each do |greeting|
      %section.col-sm6.col-md-4
        .panel{class: panel}
          .panel-heading
            %h3.panel-title
              = greeting.place.name
            %small
              %time{datetime: greeting.start_at.iso8601}= greeting.start_at.strftime('%H:%M')
              \-
              %time{datetime: greeting.end_at.iso8601}= greeting.end_at.strftime('%H:%M')
          .list-group
            - greeting.appearances.all.map {|a| [ a.character, a.character_with_costume ] }.sort_by {|character, name| name }.each do |character, name|
              %a.list-group-item{href: "/character/#{character.name}/"}= name
