%form#report-form
  .form-group
    %label{for: 'place_id'} 場所
    %select.form-control{name: 'place_id'}
      <option value="44">1Fビレッジショップ(1F)</option>
      <option value="26">1Fマイメロディショップ(1F)</option>
      <option value="21">ふわふわランド(1F)</option>
      <option value="8">エンターテイメントホール(1F)</option>
      <option value="36">エンターテイメントホール入口(1F)</option>
      <option value="38">キャラクターフードコート(1F)</option>
      <option value="45">キャンディファクトリー(1F)</option>
      <option value="10">サンリオタウン1F(1F)</option>
      <option value="1">ピューロビレッジ(1F)</option>
      <option value="41">フェアリーランドシアター(1F)</option>
      <option value="18">写真のミニプラント(1F)</option>
      <option value="30">2Fキキララショップ(2F)</option>
      <option value="29">2Fキティハウスショップ(2F)</option>
      <option value="32">2Fレディキティハウスショップ(2F)</option>
      <option value="9">サンリオタウン2F(2F)</option>
      <option value="40">レディキティハウス(2F)</option>
      <option value="25">3Fゲート(3F)</option>
      <option value="23">エントランスショップ(3F)</option>
      <option value="2">レインボーホール(3F)</option>
      <option value="16">ドリームカフェ(4F)</option>
      <option value="3">フードマシンレストラン(4F)</option>
      <option value="43">マリーランドフォトエリア(4F)</option>
      <option value="37">館のレストラン(4F)</option>
      <option value="13">館外(他)</option>

  .form-group
    %label{for: 'character_id'} キャラクター
    %select.form-control{name: 'character_id'}
      <option value="67">KIRIMIちゃん.</option>
      <option value="18">あひるのペックル</option>
      <option value="17">おさるのもんきち</option>
      <option value="72">ぐでたま</option>
      <option value="81">さばくん</option>
      <option value="3">しろうさ&amp;くろうさ</option>
      <option value="28">たあ坊</option>
      <option value="44">はすのうえけろっぴ</option>
      <option value="84">はらぺこあおむし</option>
      <option value="20">ぼんぼんりぼん</option>
      <option value="47">みるく</option>
      <option value="15">ももうさ&amp;はなうさ</option>
      <option value="61">るんるんルル</option>
      <option value="54">アズキ</option>
      <option value="30">アンソニー・ホワイト</option>
      <option value="37">ウィッシュミーメル</option>
      <option value="26">ウサハナ</option>
      <option value="22">エンジェラ</option>
      <option value="32">ガーネット</option>
      <option value="1">キティ・ホワイト</option>
      <option value="12">クロミ</option>
      <option value="25">コロコロクリリン</option>
      <option value="35">サフィー</option>
      <option value="8">シナモン</option>
      <option value="7">ジャスパー</option>
      <option value="34">ジョージ・ホワイト</option>
      <option value="71">タイニーチャム</option>
      <option value="36">タキシードサム</option>
      <option value="5">ダニエル・スター</option>
      <option value="42">ノラネコランド</option>
      <option value="45">ハニーキュート</option>
      <option value="41">ハニーモモ</option>
      <option value="52">ハンギョドン</option>
      <option value="19">バッドつん子</option>
      <option value="33">バッドばつ丸</option>
      <option value="13">ポチャッコ</option>
      <option value="9">ポムポムプリン</option>
      <option value="68">マイスウィートピアノ</option>
      <option value="2">マイメロディ</option>
      <option value="10">マロンクリーム</option>
      <option value="29">マーガレット・ホワイト</option>
      <option value="4">ミミィ・ホワイト</option>
      <option value="60">ミルキーミミ</option>
      <option value="11">メアリー・ホワイト</option>
      <option value="16">モカ</option>
      <option value="43">ラブラ</option>
      <option value="62">ラララフローラ</option>
      <option value="82">ラリマー</option>
      <option value="27">リトルツインスターズ</option>
      <option value="83">ルナ</option>
      <option value="31">ルビー</option>
      <option value="64">ルーア</option>

      <option value="57">Mr.men</option>
      <option value="85">Yoshikitty</option>
      <option value="56">いちごの王様</option>
      <option value="24">ちょるる</option>
      <option value="39">イチゴマン</option>
      <option value="69">ウサミミ仮面</option>
      <option value="49">エスプレッソ</option>
      <option value="73">エディ&amp;エミィ</option>
      <option value="38">カプチーノ</option>
      <option value="74">クララ</option>
      <option value="59">ケロリーヌ</option>
      <option value="48">シフォン</option>
      <option value="40">ダークグレープマン</option>
      <option value="65">チャロット</option>
      <option value="55">チャーミー</option>
      <option value="70">チャーミーキティ</option>
      <option value="46">パティ&amp;ジミィ</option>
      <option value="79">ペコちゃん</option>
      <option value="51">ボタンノーズ</option>
      <option value="58">ボードビルデュオ</option>
      <option value="6">ローサ</option>
      <option value="50">伊集院パンダバ</option>
      <option value="21">分部久花</option>
      <option value="14">本舗固歩香本</option>
      <option value="53">風の子さっちゃん</option>

      <option value="75">うさちゃん</option>
      <option value="63">えび〜にゃ</option>
      <option value="80">ふくちゃん</option>
      <option value="23">ゴーちゃん。</option>
      <option value="78">ターフィーパパ</option>
      <option value="77">ターフィーママ</option>
      <option value="76">ポニータ</option>
      <option value="66">リカちゃん</option>

  %button.btn.btn-default{type: 'submit'} 投稿
