.greetings-in-session {
  background-color: #fee;
}

.greetings-after-the-end {
  background-color: #eee;
}

.greetings {
  section header {
    h1 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }
}

.calendar {
  td {
    width: 40px;
    height: 30px;

    text-align: center;
  }
}

.calendar-header-sunday {
  color: red;
}

.calendar-header-saturday {
  color: blue;
}

.calendar-cell-active {
  background-color: #eef0ff;
}

.calendar-cell-holiday {
  color: red;
}

.calendar-cell-unavailable {
  color: silver;
}
