body {
  padding-top: 50px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

.calendar-header, .calendar-cell {
  text-align: center;
}

.calendar-cell a {
  display: block;
}

.calendar-header-sunday {
  color: red;
}

.calendar-header-saturday {
  color: blue;
}

.calendar-cell-holiday {
  color: red;
}

.calendar-cell-unavailable {
  color: silver;
}

