h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

.calendar-header, .calendar-cell {
  text-align: center;
}

.calendar-cell a {
  display: block;
}

.calendar-header-sunday {
  color: red;
}

.calendar-header-saturday {
  color: blue;
}

.calendar-cell-holiday {
  color: red;
}

.calendar-cell-unavailable {
  color: silver;
}

.greeting-category-empty {
  display: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0px;
  overflow: hidden;

  > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.form-control {
  font-size: 16px;
}

.table-cell-number {
  text-align: right;
}

.scrollable-table-wrapper {
  overflow-x: scroll;
}
